<% 
errors.forEach(function(error){%>
    <div class="alert alert-danger text-center"><%=error%></div>
<%})
%>
<% 
success.forEach(function(success){%>
    <div class="alert alert-success text-center"><%=success%></div>
<%})
%>